
{% extends "base.html" %}

    {% block content %}
    <body>
        <h2>Add A New Entry</h2>

        <form action="/newpost" method="post">
            <div class="form-group">
                <label for="title">Title of your blog entry: </label>
                <br>
                <input type="text" name="title" id="title" value="{{ blog_title }}" placeholder="My First Blog Post"></input>
                {% if title_error %}
                    <p class='error'>{{ title_error }}</p>
                {% endif %}
            </div>
            <br>
            <div class="form-group">
                <label for="body">Text of your blog entry: </label>
                <br>
                <textarea name="body" id="body" placeholder="Your comments go here.">{{ blog_body }}</textarea>
                {% if body_error %}
                    <p class='error'>{{ body_error }}</p>
                {% endif %}
            </div>
            <br>
            <input type="hidden" name="id" id="id">
            <input type="submit" value="Add Blog Entry">
        </form>
    </body>
    {% endblock %}