
    {% extends "base.html" %}

    {% block content %} 
   
    <h3>Peruse my blogs...</h3>
    
        <body>
    
            <ul>
                {% for blog in blogs %}
                <div>
                    <p><a href='/blog?id={{blog.id}}'><h3>{{blog.title}}</h3></a></p>
                    <h4><p>{{blog.body}}</p></h4></label>
                </div>
                      
                    
                
                {% endfor %}
            </ul>
    
        </body>
    
    {% endblock %}